@font-face {
    font-family: typefaceAdec;
    src: url("assets/fonts/ss_adec.otf") format("opentype");
}

@font-face {
    font-family: bonveno;
    src: url("assets/fonts/BonvenoCF-Light.otf") format("opentype");
}

html, body {
    height: 100%;
    font-family: "bonveno";
}

h1, h2, h3, h5 {
    font-family: "typefaceAdec";
    zoom: 200%;
    color: #092c4a;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.jumbotron {
    text-align: center;
    background-color: white;
}

.top-nav {
    border: none;
    background-color: white;
    margin-bottom: 0px;
}

.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}

.navbar-item {
    font-family: "bonveno";
    color: #092c4a;
}


.nav.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

.nav-slash:hover {
   pointer-events: none;
   cursor: default;
   color: #092c4a;
}

#footer {
    margin-top: 5px;
    background-color: white;
    height: 60px;
    text-align: center;
}

#wrap {
    min-height: 600px;
}

.bio-body {
    margin-top: 15px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}

#main-table, #main-room {
    height: 300px;
}

#daphne-header {
    cursor: default;
    color: #092c4a;
}

#daphne-header:hover {
    cursor: default;
    color: #092c4a;
    text-decoration: none;
}

#dh {
    height: 25px;
}

.projectList {
    list-style-type: none;
}

.projectList li {
    margin-bottom: .5em;
}

.projectLink:hover {
    text-decoration: none;
}