@font-face {
    font-family: skipLegDay;
    src: url("assets/fonts/SkipLegDay.ttf") format("truetype");
}

@font-face {
    font-family: bonveno;
    src: url("assets/fonts/BonvenoCF-Light.otf") format("opentype");
}

html, body {
    height: 100%;
    font-family: "bonveno";
}

h1, h2, h3, h5 {
    font-family: "skipLegDay";
    color: #092c4a;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.jumbotron {
    text-align: center;
    background-color: white;
}

.top-nav a {
    color: black;
}

.top-nav a:hover {
    color: black;
    text-decoration: none;
}

.navbar {
    background-color: #ffffff;
}

.navbar-custom {
    border-width: 0px;
}

.nav.nav-center {
    margin:0;
    float:none;
}

.center {
    text-align: center;
}
.nav-list {
    float: none;
    display:inline-block;
}

.bio-body {
    margin-top: 15px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}

#main-table, #main-room {
    height: 300px;
}

#daphne-header {
    cursor: default;
    color: #092c4a;
}

#daphne-header:hover {
    cursor: default;
    color: #092c4a;
    text-decoration: none;
}

#dh {
    font-size: 62px;
    margin-bottom: 0px;
    font-weight: 500;
}

.dsid {
    text-align: center;
    margin: 0px;
    font-size: 16px;
    font-family: skipLegDay;
}

.projectList {
    list-style-type: none;
}

.projectList li {
    margin-bottom: .5em;
}

.projectLink:hover {
    text-decoration: none;
}

.mtb10 { margin: 10px 0px;}
