<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="back-link"><a href="#/projects">Back</a></p>
            <h4>Potrero Pad</h4>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/1.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/1.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/2.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/2.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/3.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/3.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/4.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/4.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/5.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/5.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/6.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/6.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/7.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/7.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/8.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/8.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/9.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/9.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/10.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/10.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/11.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/11.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/12.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/12.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/13.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/13.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/14.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/14.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/15.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/15.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/16.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/16.jpg" alt="125x125">
                </a>
            </div>
            <div class="col-xs-3">
                <a href="assets/imgs/potrero/17.jpg" data-lightbox="potrero" class="thumbnail">
                    <img src="assets/imgs/potrero/17.jpg" alt="125x125">
                </a>
            </div>
        </div>
    </div>