<div class="container">
    <div class="row text-center">
        <div class="container">
            <p class="pressCaption"><a class="noDecoration" href="http://www.houzz.com/ideabooks/31997431/list/houzz-tour-surfing-inspires-a-metal-happy-san-francisco-loft">Houzz Tour: Surfing Inspires a Metal-Happy San Francisco Loft</a></p>
            <a href="http://www.houzz.com/ideabooks/31997431/list/houzz-tour-surfing-inspires-a-metal-happy-san-francisco-loft"><img src="/assets/imgs/houzzPress.jpeg" alt=""/></a>
        </div>
    </div>
    <div class="row text-center mt40">
        <div class="container">
            <p class="pressCaption"><a class="http://www.apartmenttherapy.com/daphnes-lightflooded-san-francisco-apartment-house-call-213333">House Call: Daphne's Light-Flooded San Francisco Apartment</a></p>
            <a href="http://www.apartmenttherapy.com/daphnes-lightflooded-san-francisco-apartment-house-call-213333"><img style="width: 302px;" src="/assets/imgs/aptTherapyPress.jpg" alt=""/></a>
        </div>
    </div>
    <div class="row text-center mt40">
        <div class="container">
            <p class="pressCaption"><a class="http://www.officelovin.com/2014/11/26/lovelys-san-francisco-office/">Office Lovin: Lovely’s San Francisco Office</a></p>
            <a href="http://www.officelovin.com/2014/11/26/lovelys-san-francisco-office/"><img style="width: 302px;" src="/assets/imgs/officeLovinPress.jpg" alt=""/></a>
        </div>
    </div>
</div>