<div class="container text-center">
    <div class="text-center">
        <div class="col-md-4 project-box text-center">
            <div class="row">
                <a class="projectLink" href="#/projects/lovely">
                    <img src="assets/imgs/lovely/1.jpg" alt="..."  class="img-rounded size-img-horiz">
                </a>
            </div>
            <div class="row"><a class="projectLink" href="#/projects/lovely">"Lovely" Headquarters</a></div>
        </div>
        <div class="col-md-4 project-box text-center">
            <div class="row">
                <a class="projectLink" href="#/projects/potrero">
                    <img src="assets/imgs/potrero/3.jpg" alt="..."  class="img-rounded size-img-horiz">
                </a>
            </div>
            <div class="row"><a class="projectLink" href="#/projects/potrero">Potrero Pad</a></div>
        </div>
        <div class="col-md-4 project-box text-center">
            <div class="row">
                <a class="projectLink" href="#/projects/soma">
                    <img src="assets/imgs/soma/2.jpg" alt="..."  class="img-rounded size-img-horiz">
                </a>
            </div>
            <div class="row"><a class="projectLink" href="#/projects/soma">SOMA Sanctuary</a></div>
        </div>
        <div class="col-md-3 project-box text-center col-md-offset-3">
            <div class="row">
                <a class="projectLink" href="#/projects/northbeach">
                    <img src="assets/imgs/northBeach/1.jpg" alt="..."  class="img-rounded size-img-vert ">
                </a>
            </div>
            <div class="row"><a class="projectLink" href="#/projects/northbeach">North Beach Nook</a></div>
        </div>
        <div class="col-md-3 project-box text-center">
            <div class="row">
                <a class="projectLink" href="#/projects/nobhill">
                    <img src="assets/imgs/sac/1.jpg" alt="..."  class="img-rounded size-img-vert">
                </a>
            </div>
            <div class="row"><a class="projectLink" href="#/projects/nobhill">Sunny Nob Hill Apartment</a></div>
        </div>
    </div>
</div>